# Ignore log files
*.csv 


# Ignore node_modules folder
C:\Users\Cynthia\Documents\Moringa_Assignments\Phase_5_Project\Data\broad_reddit_search_with_labels.csv

# Ignore all .env files


filename.ipynb
